* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: barlow-semi-condensed-regular;
}

@font-face {
    font-family: barlow-semi-condensed-regular;
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf)
}
@font-face {
    font-family: barlow-semi-condensed-light;
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf)
}

@font-face {
    font-family: barlow-semi-condensed-semi-bold;
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf);
}

:root {
    
    /* Primary */
    --Purple50: hsl(260, 100%, 95%);
    --Purple300: hsl(264, 82%, 80%);
    --Purple500: hsl(263, 55%, 52%);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey100: hsl(214, 17%, 92%);
    --Grey200: hsl(0, 0%, 81%);
    --Grey400: hsl(224, 10%, 45%);
    --Grey500: hsl(217, 19%, 35%);
    --Darkblue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}

body {
    display: grid;
    place-items: center;
    padding: 5rem 0;
    background: var(--White);
}


main {
    /* border: 2px solid blue; */
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.card {
    /* border: 2px solid red; */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    box-shadow: 15px 15px 35px -10px #000;
}



div.user-info {
    /* border: 2px solid #000;    */
    display: flex; 
    align-items: center;
    gap: 1rem;
}

div.text {
    /* border: 2px solid #0ff; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.user-picture {
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
}

span.username {
    font-size: clamp(0.8rem, 4.5vw, 1.3rem);
}

span.verified-graduate-span {
    font-size: clamp(0.5rem, 4vw, 1rem);
    font-family: barlow-semi-condensed-light;
}

span.review-title {
    font-family: barlow-semi-condensed-semi-bold;
}


span.review-text {
    font-family: barlow-semi-condensed-light;
}


.card.user-daniel {
    background: var(--Purple500);
    color: var(--Purple50);
}
.card.user-daniel img {
    border: 2px solid var(--Purple300);
}


.card.user-jonathan {
    background: var(--Grey500);
    color: #fff;
}
.card.user-jonathan img {
    border: 2px solid var(--Grey200);
}



.card.user-jeanette, .card.user-kira {
    color: var(--Grey500);
}


.card.user-patrick {
    background: var(--Darkblue);
    color: var(--Grey200);
}

.card.user-patrick img {
    border: 2px solid var(--Purple500);
}